[submodule "task-relative-recur"]
	path = task-relative-recur
	url = git@github.com:Werkov/task-relative-recur.git
[submodule ".config/nvim/pack/nvim/start/nvim-lspconfig"]
	path = .config/nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
