[color]
	ui = true
[core]
	editor = vim
[diff]
	colorMoved = default
[format]
	coverFromDescription = auto
	coverLetter = auto
[user]
	name = Michal Koutný
	email = xm.koutny@gmail.com
[sendemail]
        suppresscc=all
[notes]
	rewriteRef=refs/notes/commits
[push]
	default = matching
[alias]
	mrg = merge --no-ff
	stsh = "!f() { git stash show stash^{/$*} -p; }; f"
	stap = "!f() { git stash apply stash^{/$*}; }; f"
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
